/* Master Styles */

body {
    background-color: #f8f8f8;
}
h1 {
    color: #369;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 150%;
    margin: 42px;
    display: block;
    padding-left: 467px;
}
h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
}
body {
    margin: 2em;
}
body, input[text] {
    color: #888;
    font-family: Cambria, Georgia;
}
a {
    cursor: pointer;
    cursor: hand;
}
button {
    font-family: Arial;
    background-color: #eee;
    border: none;
    padding: 16px 65px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    background-color: #e6e2ab;
    color: black;
}
button:hover {
    background-color: rgb(138,114,4);
    color: white;
}
button:disabled {
    background-color: #eee;
    color: #aaa;
    cursor: auto;
}

/* Navigation link styles */
nav a {
    padding: 5px 10px;
    text-decoration: none;
    margin-right: 10px;
    margin-top: 10px;
    display: inline-block;
    background-color: #eee;
    border-radius: 4px;
}
nav a:visited, a:link {
    color: #607D8B;
}
nav a:hover {
    color: #039be5;
    background-color: #CFD8DC;
}
nav a.active {
    color: #039be5;
}

/* items class */
.items {
    margin: 0 0 2em 0;
    list-style-type: none;
    padding: 0;
    width: 24em;
}
.items li {
    cursor: pointer;
    position: relative;
    left: 0;
    background-color: #EEE;
    margin: .5em;
    padding: .3em 0;
    height: 1.6em;
    border-radius: 4px;
}
.items li:hover {
    color: #607D8B;
    background-color: #DDD;
    left: .1em;
}
.items li.selected {
    background-color: #CFD8DC;
    color: white;
}
.items li.selected:hover {
    background-color: #BBD8DC;
}
.items .text {
    position: relative;
    top: 13px;
}
.items .badge {
    display: inline-block;
    font-size: small;
    color: white;
    padding: 0.8em 0.7em 0 0.7em;
    background-color: #607D8B;
    line-height: 1em;
    position: relative;
    left: -1px;
    top: -4px;
    height: 1.8em;
    margin-right: .8em;
    border-radius: 4px 0 0 4px;
}
/* everywhere else */
* {
    font-family: Arial, Helvetica, sans-serif;
}
div.container{
    margin: 45px;
    display: block;
    padding-left: 430px;
}
div.eid{
    margin: 0px;
    display: block;
    padding-left: 0px;
}
div.tabs{
    margin: 14px;
    display: block;
    padding-left: 160px;
}
button[regulation]{
    font-family: Arial;
    background-color: red;
    border: none;
    padding: 17px 25px;
    border-radius: 4px;
    cursor: pointer;
    cursor: hand;
    background-color: black;
    color: black;
}
label{
    height: 1px;
}
div.name{
    margin: 0px;
    display: block;
    padding-left: 0px;
}
div.sname{
    margin: 0px;
    display: block;
    padding-left: 0px;
}
div.sdate{
    margin: 0px;
    display: block;
    padding-left: 0px;
}
div.cdate{
    margin: 0px;
    display: block;
    padding-left: 0px;
}
div.cop{
    margin: 0px;
    display: block;
    padding-left: 0px;
}
input.eID{
    height: 10px;
}
input.eName{

}
input[text]{
height:4px;
}

input.text{
    height:6px;
}
/*
Copyright 2016 Google Inc. All Rights Reserved.
Use of this source code is governed by an MIT-style license that
can be found in the LICENSE file at http://angular.io/license
*/