<section>
   <header>
      <h1>Add Establishment</h1>
      <h2>{{message}}</h2>
   </header>
</section>
<input placeholder="Establishment Name" autofocus="" [(ngModel)]="newUser.name">
<input placeholder="Establishment year" autofocus="" [(ngModel)]="newUser.age">
<button (click)="addUser(newUser)">Add Establishment</button>
<button (click)="getAllUser()">Get All Establishment</button>
<button (click)="getSucess()">Go To Establishment</button>

	<nav>
      <a routerLink="/sucess" routerLinkActive="active">Sucess</a>
    </nav>


{{users.length}}
<!--<h1>Grid Test</h1><ag-grid-ng2 class="ag-fresh" style="height: 300px; width: 800px;" [columnDefs]="columnDefs"  [rowData] = "rowData"></ag-grid-ng2>
<h1>Grid Test</h1><div> 
<div>
<ag-grid-ng2 class="ag-fresh" style="height: 300px; width: 800px;" [columnDefs]="columnDefs"  [rowData] = "rowData"></ag-grid-ng2>
</div>
-->

<div style="width: 800px;">
    <h1>Grid</h1>
    <ag-grid-ng2 #agGrid style="width: 100%; height: 350px;" class="ag-fresh"
                 [gridOptions]="gridOptions" 
      [rowGroupPanelShow]="always" 
     
      [datasource] = "dataSource"
      rowModelType = "virtual"
      enableFilter 
      enableSorting 
      enableColResize
      >
    </ag-grid-ng2>
</div>


<!--<section *ngIf="users.length > 0">
   <div class="datagrid">
      <table>
         <thead>
            <tr>
               <th>ID</th>
               <th>NAME</th>
               <th>AGE</th>
            </tr>
         </thead>
         <tbody *ngFor="let user of users" [class.completed]="user.active">
         <tr>
            <td>{{user.id}}</td>
            <td>{{user.name}}</td>
            <td>{{user.age}}</td>
         </tr>
         </tbody>
         <tfoot>
            <tr>
               <td colspan="4">
                  <div id="paging">
                     <ul>
                        <li><a href="#"><span>Previous</span></a></li>
                        <li><a href="#" class="active"><span>1</span></a></li>
                        <li><a href="#"><span>2</span></a></li>
                        <li><a href="#"><span>3</span></a></li>
                        <li><a href="#"><span>4</span></a></li>
                        <li><a href="#"><span>5</span></a></li>
                        <li><a href="#"><span>Next</span></a></li>
                     </ul>
                  </div>
            </tr>
         </tfoot>
      </table>
   </div>
</section>
-->